.contenedor-principal{
  margin-right: 10%;
  margin-left: 20%;
  text-align: center;
}

.contenedor-postarquitectura{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-postarquitectura > div {
  width: 50%;
}

.contenedor-composicionaplicacion{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-composicionaplicacion > div {
  width: 50%;
}

.contenedor-puntoobjeto{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-puntoobjeto > div {
  width: 33.3%;
}

.contenedor-diseñotemprano{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-diseñotemprano > div {
  width: 50%;
  margin-top: 10px;
}

.contenedor-puntosfuncion{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-puntosfuncion > div {
  width: 50%;
  margin-top: 10px;
}

.contenedor-cosmic{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-cosmic > div {
  width: 50%;
  margin-top: 100px;
}

table {
  align-items: center;
  justify-content: center;
}

.select{
  align-items: center;
  justify-content: center;
}

