.contenedor-principal{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-principal > div {
  width: 40%;
  margin-top: 50px;
}

.contenedor-principal2{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-principal2 > div {
  width: 20%;
  margin-top: 50px;
}

table {
  align-items: center;
  justify-content: center;
}

.select{
  align-items: center;
  justify-content: center;
}

