.contenedor-principal{
  
  width: auto;
  
}

.contenedor-postarquitectura{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-postarquitectura > div {
  width: 50%;
}

.contenedor-composicionaplicacion{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-composicionaplicacion > div {
  width: 50%;
}

.contenedor-puntoobjeto{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-puntoobjeto > div {
  width: 50%;
}

.contenedor-diseñotemprano{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  
}

.contenedor-diseñotemprano > div {
  width: 50%;
  
}

.contenedor-puntosfuncion{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.contenedor-puntosfuncion > div {
  width: 50%;
  margin-top: 10px;
}

.contenedor-cosmic{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.contenedor-cosmic > div {
  width: 50%;
}


.select{
  position: relative;
}

.contenedor-nombreProyecto{
  display: flex;
  margin-bottom: 30px;
}

.contenedor-nombreProyecto h4{
  margin-right: 20px;
}

.titulo{
  text-align: center;
  margin-bottom: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.contenedor-puntosobjeto{
  border: 1px solid #19A7CE;
  border-radius: 7px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

h3{
  margin-top: 20px;
  margin-bottom: 10px;
}

.contenedor-ksloc{
  margin-top: 50px;
}

tr{
  text-align: left;
}

.UPF-formulario h3{
  text-align: center;
}

.center{
  text-align: center;
}

.descripcion{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 500px;
}

.descripcion2{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 90%;
}

.descripcion3{
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}

.tabla{
  margin-top: 20px;
  margin-left: 50px;
  
}

thead{
  font-weight: bold;
}

.puro-texto{
  padding-left: 50px;
}