@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;600;800&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Wix Madefor Display', sans-serif;
}

body{
  background: #B2FEFA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main{
  max-width: 800px;
  width: 98%;
  margin: auto;
  padding: 40px;
}

.inicio-sesion-principal{
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);

}

.inicio-sesion-principal h2{
  margin-bottom: 30px;
}
